body {
    overflow: hidden;
}

@font-face {
    font-family: 'FiraMono';
    src: url('fonts/FiraMono-Regular.ttf');
}

.CodeMirror {
    font-family: FiraMono;
    font-size: 18px;
}

#output-p span {
    font-family: FiraMono;
    font-size: 18px;
}
